<%- js('js/core/busuanzi.pure.mini.js') %>
<%- js('js/core/jquery.min.js') %>

<script>
  var mihoConfig = {
      root: "<%=config.url%>",
      animate: <%=theme.open_animation%>,
      isHome: <%=is_home()%>,
      share: <%=theme.share%>,
      reward: <%=theme.reward.status%>
  };
</script>
<%- partial('_partial/sidebar') %>
<%- js('js/search') %>
<%- js('js/main') %>

<% if (theme.open_bg_particle){ %>
  <%- js('js/core/particles.min.js') %>
  <div id="particles"></div>
  <%- js('js/particles') %>
<% } %>

<% if (config.disqus_shortname){ %>
<script>
  var disqus_shortname = '<%= config.disqus_shortname %>';
  <% if (page.permalink){ %>
    var disqus_url = '<%= page.permalink %>';
  <% } %>
  (function(){
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments) { %>embed.js<% } else { %>count.js<% } %>';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<% } %>

<% if (theme.fancybox){ %>
  <%- css('fancybox/jquery.fancybox') %>
  <%- js('fancybox/jquery.fancybox.pack') %>
<% } %>

<% if (theme.open_animation){ %>
  <%- css('css/animate.min.css') %>
  <%- js('js/core/scrollreveal.js') %>
  <%- js('js/animate') %>
<% } %>
<% if (! is_home()){ %>
  <%- js('js/pop-img') %>
  <script>
     $(".article-entry p img").popImg();
  </script>
<% } %>

<%- js('js/mouse') %>

<script>
  function isMobile(){
    // 根据 HTTP_USER_AGENT 判断设备是否为手机
    var userAgentInfo = navigator.userAgent;
    var agents = ["Android", "iPhone", "iPad", "iPod"];
    for (var i = 0; i < agents.length; i++) {
      if (userAgentInfo.indexOf(agents[i]) >= 0) {
        return true;
      }
    }
    return false;
  }
  if(!isMobile()){
    var wife = document.createElement('script');
    wife.type = 'text/javascript';
    wife.src = 'js/core/wife/waifu-tips.js?=2';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(wife);
    var wifeLive = document.createElement('script');
    wifeLive.type = 'text/javascript';
    wifeLive.src = 'js/core/wife/live2d.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(wifeLive);
    setTimeout(function(){
      initModel();
    }, 2000);
  }
</script>


<% if(theme.open_wife){ %>
  <%- css('css/wife/waifu.css') %>
  <div class="waifu">
      <div class="waifu-tips" style="opacity: 0;">这一句
          是 <span style="color:#0099cc;">在 2015.09.23 23:05:17 收藏的！</div>
      <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
  </div>
<% } %>

<% if(config.google_id){ %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HW23R2GD1Z"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-HW23R2GD1Z');
  </script>
<% } %>