<%- js('js/core/busuanzi.pure.mini.js') %>
<%- js('js/core/jquery.min.js') %>

<script>
  var mihoConfig = {
      root: "<%=config.url%>",
      animate: <%=theme.open_animation%>,
      isHome: <%=is_home()%>,
      share: <%=theme.share%>,
      reward: <%=theme.reward.status%>
  };
</script>
<%- partial('_partial/sidebar') %>
<%- js('js/search') %>
<%- js('js/main') %>

<% if (theme.open_bg_particle){ %>
  <%- js('js/core/particles.min.js') %>
  <div id="particles"></div>
  <%- js('js/particles') %>
<% } %>

<% if (config.disqus_shortname){ %>
<script>
  var disqus_shortname = '<%= config.disqus_shortname %>';
  <% if (page.permalink){ %>
  var disqus_url = '<%= page.permalink %>';
  <% } %>
  (function(){
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments) { %>embed.js<% } else { %>count.js<% } %>';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<% } %>

<% if (theme.fancybox){ %>
  <%- css('fancybox/jquery.fancybox') %>
  <%- js('fancybox/jquery.fancybox.pack') %>
<% } %>

<% if (theme.open_animation){ %>
  <%- css('css/animate.min.css') %>
  <%- js('js/core/scrollreveal.js') %>
  <%- js('js/animate') %>
<% } %>
<% if (! is_home()){ %>
  <%- js('js/pop-img') %>
  <script>
     $(".article-entry p img").popImg();
  </script>
<% } %>

<% if(theme.open_wife){ %>
  <%- css('css/wife/waifu.css') %>
  <div class="waifu">
      <div class="waifu-tips" style="opacity: 0;">这句一言出处是
          <span style="color:#0099cc;">『青之驱魔师』</span>，
          是 <span style="color:#0099cc;">FGHRSH</span> 在 2015.09.23 23:05:17 收藏的！</div>
      <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
  </div>
  <%- js('js/core/wife/waifu-tips.js?=1') %>
  <%- js('js/core/wife/live2d.js') %>
  <script type="text/javascript">
    if(!navigator.userAgent.match(/Mobi/i)) {
			initModel()
		}
  </script>
  <%- js('js/mouse') %>
<% } %>

