<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      <%- partial('plugins/sites/visit') %>
      <p>
        Powered by  <a href="http://hexo.io/" target="_blank">Hexo</a>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        | <a href="https://beian.miit.gov.cn/" target="_blank">
          <%= config.icp %>
        </a>
      </p>
    </div>
  </div>
  <div class="outer friend-link">
    <div>友情链接：</div>
    <div>
      <% config.friendLink.forEach(function (item) { %>
        <a href="<%= item.link%>" target="_blank"><%= item.title%></a> <span class="block">  </span>
      <% }) %>
    </div>
  </div>
</footer>
