<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no"/>
  <meta name="format-detection" content="address=no"/>
  <meta name="wap-font-scale" content="no"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <script>
    const o = window.navigator.appVersion.toLowerCase().includes('iphone');
    if (o) {
        document.documentElement.setAttribute('data-ios', true)
    } else {
        document.documentElement.setAttribute('data-android', true)
    }
  </script>
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% if (page.title){ %>
    <meta name="keywords" content="<%- theme.keywords + '-' +  page.title %>" />
  <% } else if(theme.keywords){ %>
    <meta name="keywords" content="<%- theme.keywords %>" />
  <% } %>

  <% if (page.description){ %>
    <meta name="description" itemprop="description" content="【<%= page.description %>】<%= config.title %>发布<%= page.description %>">
  <% } else if (config.description&&(!is_post())){ %>
    <meta name="description" content="【<%= page.description %>】<%= config.title %>发布<%= page.description %>">
  <% } else if (page.excerpt){ %>
    <meta name="description" content="<%= strip_html(page.excerpt).replace(/^s*/, '').replace(/s*$/, '') %>">
  <% } else if (page.content){ %>
    <meta name="description" content="<%= strip_html(page.content).replace(/^s*/, '').replace(/s*$/, '').substring(0, 150) %>">
  <% } %>

  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <% if(config.google_ad){ %>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2363518550463295" crossorigin="anonymous"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2363518550463295",
        enable_page_level_ads: true,
        overlays: {bottom: true}
      });
    </script>
  <% } %>
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <%- css('css/style') %>
  <%- js('js/pace.min') %>
  <%- partial('plugins/analytics/google-analytics') %>
  <%- partial('plugins/analytics/baidu-analytics') %>
  <%- partial('plugins/analytics/cnzz-analytics') %>
</head>
