<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no"/>
  <meta name="format-detection" content="address=no"/>
  <meta name="wap-font-scale" content="no"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="360-site-verification" content="2d7b06c140d91a7743cb2c697e59f8a5" />
  <meta name="bytedance-verification-code" content="3t3T+QeGj84i9NhoCCiC" />
  <meta name="shenma-site-verification" content="8a98e42574efd6993cf6ed2589dfa56b_1694703851">
  <meta name="sogou_site_verification" content="ooLFjoVsfF" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- 头条自动收录 -->
  <script>
    (function(){
    var el = document.createElement("script");
    el.src = "https://lf1-cdn-tos.bytegoofy.com/goofy/ttzz/push.js?406ddf5b0e4b8f1bd06475842adab710288997609490db4672f1da1714f0f36d45f9b46c8c41e6235de98982cdddb9785e566c8c06b0b36aec55fccc04fff972a6c09517809143b97aad1198018b8352";
    el.id = "ttzz";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(el, s);
    })(window)
  </script>
  <script>
    const o = window.navigator.appVersion.toLowerCase().includes('iphone');
    if (o) {
        document.documentElement.setAttribute('data-ios', true)
    } else {
        document.documentElement.setAttribute('data-android', true)
    }
  </script>
  <%
  var title = page.title;
  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <% if (page.tags && page.tags.length > 0){ %>
    <meta name="keywords" content="<%- page.tags && page.tags.map(item => item.name).join(', ') %>, <%- page.keywords %>" />
  <% } else if(theme.keywords){ %>
    <meta name="keywords" content="<%- theme.keywords %>" />
  <% } %>

  <% if (page.description){ %>
    <meta name="description" itemprop="description" content="【<%= page.description %>】<%= config.title %>发布-<%= page.description %>">
  <% } else if (config.description&&(!is_post())){ %>
    <meta name="description" content="<%= config.indexDesc %>">
  <% } else if (page.excerpt){ %>
    <meta name="description" content="<%= strip_html(page.excerpt).replace(/^s*/, '').replace(/s*$/, '') %>">
  <% } else if (page.content){ %>
    <meta name="description" content="<%= strip_html(page.content).replace(/^s*/, '').replace(/s*$/, '').substring(0, 150) %>">
  <% } %>

  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <% if(config.google_ad){ %>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2363518550463295" crossorigin="anonymous"></script>
    <script>
      var addFlag = false;
      var adsbygoogle = window.adsbygoogle || [];
      if(!addFlag){
        adsbygoogle.push({
          google_ad_client: "ca-pub-2363518550463295",
          enable_page_level_ads: true,
          overlays: {bottom: true}
        });
        addFlag = true;
      }
    </script>
  <% } %>
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <%- css('css/style') %>
  <%- js('js/pace.min') %>
  <%- partial('plugins/analytics/google-analytics') %>
  <%- partial('plugins/analytics/baidu-analytics') %>
  <%- partial('plugins/analytics/cnzz-analytics') %>
  <!-- 以下是添加的json-ld节点 -->
  <%- partial('json-ld') %>
</head>
